{:deps true
 :builds
 {:server
  {:target :node-script
   :main nrepl.server/-main
   :output-to "target/server"
   :compiler-options {:optimizations :simple}}

  :client
  {:target :node-script
   :main nrepl.client.tty/-main
   :output-to "target/client"
   :compiler-options {:optimizations :simple}}

  :bootstrap
  {:target :bootstrap
   :output-dir "target/bootstrap"
   :exclude #{cljs.js}
   :entries [cljs.js]
   :macros []
   :js-options {:js-provider :require}}}}
